<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Quotes</title>
</head>
<body>

  <div class="container">
    <br><br>

    <h1>All Quotes</h1>

    <br><br>

    <form action="{% url 'search_results' %}" method="get">
      <input type="search" name="q" placeholder="Search by name or quote..." class="form-control">
    </form>

    <br><br>

    {% for quote in quotes %}
      <ul>
        <li>{{ quote.quote }} - <b>By <i>{{ quote.name }}</i></b></li>
      </ul>
    {% empty %}
      <p>The database is empty. Add some quotes.</p>
    {% endfor %}

    <br><br>
  </div>

</body>
</html>
